.startpagebutton {
  position: relative;
  font-size: 8vmin;
  text-decoration: none;
  color: #ffffff;
  font-size: 2vmin;
  border: none;
  border-radius: 1vmin;
  width: 15vmin;
  height: 6vmin;
  font-weight: bold;
  transition: 0.2s;
  box-shadow: 0vmin 0vmin 1vmin 0.5vmin rgba(217, 59, 235, 1);
  background-color: #000000;
}

.startpagebutton:hover {
  transform: scale(1.05);
}
