.startpagebutton{
 font-family: Trebuchet MS;
 font-size: 2vmin;
 font-weight: 800;
 font-style: normal;
 text-decoration: none;
 padding: 2vmin 3.5vmin;
 border: 0px solid #000;
 border-radius: 26px;
 display: inline-block;
 box-shadow: 0vmin 5vim 15vmin 5vmin #2D2D2D;
}
.startpagebutton:hover{
 cursor: pointer;
}
.startpagebutton:active{
 transform: scale(0.95);
}
