@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.themebutton {
  font-family: Lato;
  text-align: center;
  font-size: 1.8vh;
  box-shadow: 0.5vh 0.5vh 1vh 0vh rgba(0,0,0,0.75);
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  background-color: rgba(0,0,0,0.95);
  color: white;
  width: 10vh;
  height: 4vh;
  transition: background-color 0.3s ease-in-out;
}

.themebutton:hover {
  background-color: rgba(8,8,8,0.95);
}

.mainpageimage-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  justify-content: center;
  width: 45vh;
  margin-top: 20vh;
  transition: all 0.4s ease;
}

.mainpageimage-button:hover{
  transform: scale(1.025);
}

.mainpageimage-button img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4vh;
  box-shadow: 0vh 0.75vh 1.5vh 0vh black;
}
