@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap');

.startpagebutton {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 5vmin;
  border: none;
  border-radius: 3vmin;
  cursor: pointer;
  width: 18vmin;
  height: 8vmin;
  transition: 0.2s;
  box-shadow: 0vmin 0vmin 1vmin 0.5vmin rgba(217, 59, 235, 1);
  background-color: #000000;
}

.startpagebutton:hover {
  transform: scale(1.05);
}

.themebutton {
  font-family: Lato;
  box-shadow: 0vmin 0vmin 1vmin 0.5vmin rgba(217, 59, 235, 1);
  border: none;
  border-radius: 3vmin;
  cursor: pointer;
  background-color: #1f1f1f;
  width: 5vmin;
  height: 2vmin;
}
