.startpagebutton{
 font-family: Trebuchet MS;
 font-size: 2.5vmin;
 font-weight: 800;
 font-style: normal;
 text-decoration: none;
 padding: 1.5vmin 3vmin;
 border: 0px solid #000;
 border-radius: 26px;
 display: inline-block;
 box-shadow: 0vmin 0.5vmin 2.0vmin 0.5vmin #d93beb;
 background: black;
 color: white;
}
.startpagebutton:hover{
 cursor: pointer;
}
.startpagebutton:active{
 transform: scale(0.98);
 transform: translateY(0.2vmin);
}
