@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
}
.card {
  margin: 1vh;
  width: 28vh;
  height: 33.5vh;
  cursor: pointer;
  border-radius: 3.25vh;
  font-size: 1.75rem;
  color: #fff;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 0vh 0.6vh 1.5vh 0vh #2e2e2e,  0vh 0vh 0.15vh 0vh #2e2e2e;
}
.card h1, .card h2 {
  transform: translateZ(50px);
}

.cardimage{
  width: 25vh;
  height: 25vh;
  display:inline-block; 
  padding: 0vh; 
  border-radius: 3.25vh;
}
.card h1, .card h2 {
  transform: translateZ(50px);
}

.cardname{
  font-size: 3vh;
  font-family: 'Lato';
  margin-top: 1vh;
}
.cardcontainer{
  display: flex;
  margin-top: 10vh;
  flex-direction: row;
  order: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2vh;
}  
