#background {
  background: linear-gradient(304deg,#ff8800,#f507e2);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Hover color in navbar*/
.navbar a:hover {
  color: #f740dc;
}
/*do the same color here*/
.navbar h3:hover {
  color: #f740dc;
  cursor: pointer;
}

#loader .loader {
    border-top-color: #f740dc;
}

