body {
  background: linear-gradient(256deg,#ef750f,#9712b5);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
 
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.startpagename {
  text-shadow: 1.2vmin 1.2vmin #8d00b8, 1.2vmin 1.2vmin 1.2vmin #8d00b8;
}
