#background {
  background-color: #36393e;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.startpagename {
  /*text-shadow: 1.2vmin 1.2vmin #d93beb, 1.2vmin 1.2vmin 10vmin #d93beb;*/
  animation: glow 1s infinite alternate;
  color: rgb(255, 255, 255);
}

@keyframes glow {
  from {
    text-shadow: 1.2vmin 1.2vmin 10vmin #d93beb;
  }
  to {
    text-shadow: 2vmin 2vmin 10vmin #d93beb;
  }
}
