#background {
  background-color: #36393e;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.startpagename {
  text-shadow: 1.2vmin 1.2vmin #d93beb, 1.2vmin 1.2vmin 10vmin #d93beb;
  color: rgb(255, 255, 255);
}

/*Hover color in navbar*/
.navbar a:hover {
  color: #36393e;
}
/*dtyerasdfCHo-re*/
.navbar h3:hover {
  color: #36393e;
  cursor: pointer;
}

/*SchongelBlogel*/
#loader .loader {
    border-top-color: #36393e;
}
