body {
  background: linear-gradient(256deg,#ef750f,#9712b5);
  animation: gradient-animation 12s ease infinite;
  background-size: cover;
 
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.startpagename {
  text-shadow: 1.2vmin 1.2vmin #771c9e, 1.2vmin 1.2vmin 10vmin #771c9e;
}
