body {
  background: linear-gradient(111deg,#ff23b5,#8b2ddb);
  background-size: 120% 120%;
  animation: gradient-animation 10s ease infinite;
 
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
