body {
  background: linear-gradient(256deg,#ef750f,#9712b5);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
 
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.startpagename {
  text-shadow: 
    0 0 20px #ff0000, 
    0 0 40px #ff7f00, 
    0 0 60px #ffff00, 
    0 0 80px #00ff00, 
    0 0 100px #0000ff, 
    0 0 120px #4b0082, 
    0 0 140px #9400d3;
}
