#background {
  background: linear-gradient(304deg,#000000,#dc143c);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Hover color in navbar*/
.navbar a:hover {
  color: #e31919;
}
/*do the same color here*/
.navbar h3:hover {
  color: #e31919;
  cursor: pointer;
}

.menu-items li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  /*just change this color to match the hover color*/
  background-color: #e31919;
  transition: width 0.3s ease-in-out;
}
