#background {
  background: linear-gradient(304deg,#000000,#08c1ff);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0g;
  height: 100%;
  width: 100%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Hoodlerschnoodel*/
.navbar a:hover {
  color: #36c5f5;
}
/*do the same color here*/
.navbar h3:hover {
  color: #36c5f5;
  cursor: pointer;
}

/*SchongelBlogel*/
#loader .loader {
    border-top-color: #36c5f5;
}


