@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.sidebar {
  position: fixed;
  top: 15vh;
  right: -60vh;
  width: 50vh;
  height: 80vh;
  background: #1e2124;
  color: #fff;
  opacity: 0.85;
  transition: all 0.4s ease;
  border-radius: 5vh;
  box-shadow: 0vh 0.75vh 1.5vh 0vh #2e2e2e;
  text-align: center;
}

.open-sidebar {
  right: 5vh;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  margin-top: 2vh;
}

.sidebar-header {
  text-size: 2.5vh;
  color: white;
  text-align: center;
  font-family: Lato;
  margin-top: 2vh;
}

hr.rounded {
  border-top: 0.6vh solid #1e2124/*#181a1c*/;
  border-bottom: 0vh solid #181a1c;
  border-left: 0vh solid #181a1c;
  border-right: 0vh solid #181a1c;
  border-radius: 0.6vh;
  margin-left: 4.5vh;
  margin-right: 4.5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
