.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

.open-sidebar {
  left: 0;
}

.menu {
  margin-top: 50px;
  padding: 0;
  list-style-type: none;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #ddd;
}
