@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap');
@font-face {
    font-family: Panton;
    src: url("/ASSETS/fonts/panton.black-caps.otf") format("opentype");
}

.startpagename {
  /*header on the start page index.html*/
  font-size: 35vmin;
  padding-top: 10vmin;
  margin: auto;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: Panton;
}

.startpagename span{

}
