@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

.startpagename {
  /*header on the start page index.html*/
  font-family: 'Overpass', sans-serif;
  font-size: 25vmin;
  margin: auto;
  text-align: center;
