@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap');

.startpagename {
  /*header on the start page index.html*/
  font-size: 35vmin;
  padding-top: 10vmin;
  margin: auto;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.startpagename span{

}

.loader {
   position: relative;
   width: 8vmin;
   height:8vmin;
   border-radius: 50%;
   border: 2vmin solid #fff;
   border-top-color: #008cff;
   animation: loader 1s linear infinite;
   box-shadow: 0 0 1vmin ;
   margin: auto;
}

@keyframes loader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
