@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap");

.mainpage-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.mainpage-box {
 background: #1e2124;
 opacity: 0.85;
 border-radius:2vh;
 margin: auto;
 width: 30vh;
 padding: 2vh;
 box-shadow: 0vh 0.25vh 1vh 0vh #2e2e2e;
 text-align: center;
}

.mainpage-text {
  color: white;
  text-align: center;
  font-size: 1.6vh;
  font-family: Montserrat;
}

.bolded {
  font-weight: bold;
  font-size: 2.2vh;
}
