@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap");

.mainpage-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
