body, html {
  height: 100%;
  width: 100%;
  font-family: Arial;
}
p{
  margin: 0;
}
#game-frame{
  margin: 0 auto;
  margin-top: 15vh;
  display: block;
  border-top: 1vh solid black;
  border-left: 1vh solid black;
  border-right: 1vh solid black;
  border-radius: 1.65vh 1.65vh 0vh 0vh;
  box-shadow: 0vh 0.25vh 1vh 0vh black;
}
#game-options{
  max-width: 60%;
  margin: 0 auto;
  border: 1vh solid black;
  display: flex;
  justify-content: space-between;
  border-radius: 0vh 0vh 1.65vh 1.65vh;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0vh 0.25vh 1vh 0vh black;
}
#game-options > b {
  display: inline-block;
}
.icons-options{
  padding-right: 1.5vh;
  padding-top: 0.2vh;
  margin: 0;
  display: inline-block;
  float: right;
}
.game-name-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-options{
  color: #ffffff;
}
#game-icon-sm{
  border-radius: 0.5vh;
}
